[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "KeyLog"
version = "0.1.0"

[tool.setuptools.packages.find]
where = ["src"]

[project.scripts]
keylog = "KeyLog.main:main"